 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("//images01.nicepagecdn.com/c461c07a441a5d220e8feb1a/ccbe3dccb0fe5cff96d5a794/sdf-min.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-group-1 {
  width: 309px;
  min-height: 81px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 60px auto 0;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-image-1 {
  width: 53px;
  height: 53px;
  background-image: url("//images01.nicepagecdn.com/c461c07a441a5d220e8feb1a/00aa5abc613459b89be9546c/e.jpg");
  background-position: 50% 50%;
  margin: 14px auto 0 7px;
}

.u-section-1 .u-text-1 {
  font-size: 1.375rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin: -39px 0 0 80px;
}

.u-section-1 .u-text-2 {
  font-size: 4.5rem;
  text-shadow: 2px 2px 8px rgba(34,42,68,0.4);
  letter-spacing: 4px;
  text-transform: uppercase;
  font-family: Raleway, sans-serif;
  width: 861px;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 48px auto 0;
}

.u-section-1 .u-text-3 {
  letter-spacing: 0px;
  line-height: 1.4;
  width: 714px;
  font-weight: 300;
  font-size: 1.875rem;
  font-family: Lato, sans-serif;
  text-transform: none;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 32px auto 0;
}

.u-section-1 .u-text-4 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
  line-height: 1.8;
  width: 589px;
  --animation-custom_in-scale: 0.3;
  margin: 48px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  padding: 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 718px;
  margin: 66px auto 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 78px;
}

.u-section-1 .u-container-layout-2 {
  padding: 8px 20px 8px 30px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  letter-spacing: 1px;
  border-style: solid;
  box-shadow: 0 0 7px 0 rgba(16,32,85,0.7);
  text-shadow: 0 0 0 rgba(0,0,0,0);
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 700;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 0 0 auto;
  padding: 15px 41px 15px 40px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 78px;
}

.u-section-1 .u-container-layout-3 {
  padding: 8px 30px 8px 20px;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  letter-spacing: 1px;
  border-style: solid;
  box-shadow: 0 0 7px 0 rgba(16,32,85,0.7);
  text-shadow: 0 0 0 rgba(0,0,0,0);
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 700;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto 0 0;
  padding: 15px 41px 15px 40px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-text-3 {
    width: 540px;
  }

  .u-section-1 .u-text-4 {
    width: 540px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: auto;
  }

  .u-section-1 .u-container-layout-3 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    margin-left: 31px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: 99px;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
    width: 340px;
  }

  .u-section-1 .u-text-3 {
    width: 340px;
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-4 {
    width: 340px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1457px;
}

.u-section-2 .u-image-1 {
  width: 416px;
  height: 417px;
  background-image: url("//images01.nicepagecdn.com/c461c07a441a5d220e8feb1a/00aa5abc613459b89be9546c/e.jpg");
  background-position: 50% 50%;
  margin: 60px auto 0;
}

.u-section-2 .u-text-1 {
  width: 810px;
  font-size: 3.4375rem;
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  letter-spacing: 2px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 20px auto 0;
}

.u-section-2 .u-text-3 {
  width: 684px;
  margin: 20px auto 0;
}

.u-section-2 .u-btn-1 {
  padding: 0;
}

.u-section-2 .u-list-1 {
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 22.5px));
  min-height: 296px;
  grid-gap: 30px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 29px 0px rgba(0,0,0,0.15);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-1 {
  padding: 50px 30px 30px;
}

.u-section-2 .u-icon-1 {
  height: 75px;
  width: 75px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 14px auto 0 0;
  padding: 0;
}

.u-section-2 .u-text-4 {
  font-weight: 400;
  font-size: 1.625rem;
  margin: 28px 0 0;
}

.u-section-2 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-2 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  box-shadow: 5px 5px 29px 0 rgba(0,0,0,0.15);
}

.u-section-2 .u-container-layout-2 {
  padding: 50px 30px 30px;
}

.u-section-2 .u-icon-2 {
  height: 75px;
  width: 75px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 14px auto 0 0;
  padding: 0;
}

.u-section-2 .u-text-5 {
  font-weight: 400;
  font-size: 1.625rem;
  margin: 28px 0 0;
}

.u-section-2 .u-btn-3 {
  font-size: 0.875rem;
  background-image: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-2 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  box-shadow: 5px 5px 29px 0 rgba(0,0,0,0.15);
}

.u-section-2 .u-container-layout-3 {
  padding: 50px 30px 30px;
}

.u-section-2 .u-icon-3 {
  height: 75px;
  width: 75px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 14px auto 0 0;
  padding: 0;
}

.u-section-2 .u-text-6 {
  font-weight: 400;
  font-size: 1.625rem;
  margin: 28px 0 0;
}

.u-section-2 .u-btn-4 {
  font-size: 0.875rem;
  background-image: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-2 .u-list-item-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  box-shadow: 5px 5px 29px 0px rgba(0,0,0,0.15);
}

.u-section-2 .u-container-layout-4 {
  padding: 50px 30px 30px;
}

.u-section-2 .u-icon-4 {
  height: 75px;
  width: 75px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 14px auto 0 0;
  padding: 0;
}

.u-section-2 .u-text-7 {
  font-weight: 400;
  font-size: 1.625rem;
  margin: 28px 0 0;
}

.u-section-2 .u-btn-5 {
  font-size: 0.875rem;
  background-image: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-2 .u-text-8 {
  font-size: 2.25rem;
  width: 667px;
  margin: 60px auto 0;
}

.u-section-2 .u-btn-6 {
  border-style: solid;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 0.875rem;
  align-self: center;
  text-align: center;
  margin: 59px auto 60px;
  padding: 14px 46px 16px 44px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-image-1 {
    height: 416px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 240px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1740px;
  }

  .u-section-2 .u-text-1 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 617px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 30px;
  }

  .u-section-2 .u-text-5 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 30px;
  }

  .u-section-2 .u-text-6 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-container-layout-4 {
    padding-top: 30px;
  }

  .u-section-2 .u-text-7 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin-top: 40px;
    margin-left: 26px;
    margin-right: 26px;
  }

  .u-section-2 .u-btn-6 {
    margin-top: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
    font-size: 3rem;
  }

  .u-section-2 .u-text-3 {
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-text-4 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-text-5 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-text-6 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-text-7 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-text-8 {
    margin-top: 60px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-6 {
    margin-top: 59px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1664px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    width: 340px;
  }

  .u-section-2 .u-text-3 {
    width: 340px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-4 {
    font-size: 2.125rem;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-5 {
    font-size: 2.125rem;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-6 {
    font-size: 2.125rem;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-7 {
    font-size: 2.125rem;
  }

  .u-section-2 .u-text-8 {
    font-size: 1.5rem;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1161px;
}

.u-section-3 .u-text-1 {
  width: 735px;
  font-size: 1.875rem;
  text-transform: uppercase;
  margin: 83px auto 0;
}

.u-section-3 .u-text-2 {
  width: 805px;
  margin: 29px auto 0;
}

.u-section-3 .u-text-3 {
  line-height: 2;
  width: 813px;
  font-size: 1.25rem;
  margin: 21px auto 0;
}

.u-section-3 .u-text-4 {
  width: 637px;
  margin: 20px auto 0;
}

.u-section-3 .u-btn-1 {
  margin-left: auto;
  padding: 0;
}

.u-section-3 .u-image-1 {
  width: 376px;
  height: 376px;
  background-image: url("//images01.nicepagecdn.com/c461c07a441a5d220e8feb1a/ad6c6b26c2e05a498de75d2d/klkl.jpg");
  background-position: 50% 50%;
  margin: 54px auto 0;
}

.u-section-3 .u-group-1 {
  width: 939px;
  min-height: 226px;
  height: auto;
  margin: 46px auto 60px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-group-2 {
  width: 156px;
  height: auto;
  transition-duration: 0.5s;
  min-height: 156px;
  margin: 0 auto 0 65px;
}

.u-section-3 .u-container-layout-2 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-3 .u-text-5 {
  transition-duration: 0.5s;
  letter-spacing: 1px;
  font-weight: 500;
  margin: 0 auto;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-group-3 {
  width: 156px;
  height: auto;
  transition-duration: 0.5s;
  min-height: 156px;
  margin: -156px auto 0 263px;
}

.u-section-3 .u-container-layout-3 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-3 .u-text-6 {
  transition-duration: 0.5s;
  letter-spacing: 1px;
  font-weight: 500;
  margin: 0 auto;
}

.u-section-3 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-group-4 {
  width: 156px;
  height: auto;
  transition-duration: 0.5s;
  min-height: 156px;
  margin: -156px auto 0 659px;
}

.u-section-3 .u-container-layout-4 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-3 .u-text-7 {
  transition-duration: 0.5s;
  letter-spacing: 1px;
  font-weight: 500;
  margin: 0 auto;
}

.u-section-3 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-group-5 {
  width: 156px;
  height: auto;
  transition-duration: 0.5s;
  min-height: 156px;
  margin: -156px auto 0 461px;
}

.u-section-3 .u-container-layout-5 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-3 .u-text-8 {
  transition-duration: 0.5s;
  letter-spacing: 1px;
  font-weight: 500;
  margin: 0 auto;
}

.u-section-3 .u-btn-5 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-2 {
    margin-top: 74px;
  }

  .u-section-3 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
    height: auto;
  }

  .u-section-3 .u-group-2 {
    height: auto;
  }

  .u-section-3 .u-group-3 {
    height: auto;
  }

  .u-section-3 .u-group-4 {
    height: auto;
  }

  .u-section-3 .u-group-5 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1131px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
    width: 720px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 29px;
    margin-left: 0;
    margin-right: 0;
    width: 720px;
  }

  .u-section-3 .u-text-3 {
    width: 720px;
  }

  .u-section-3 .u-group-1 {
    min-height: 215px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-1 {
    padding: 0 6px;
  }

  .u-section-3 .u-group-2 {
    width: 130px;
    min-height: 130px;
    margin-top: 43px;
    margin-left: 63px;
  }

  .u-section-3 .u-group-3 {
    width: 130px;
    min-height: 130px;
    margin-top: -130px;
    margin-left: 214px;
  }

  .u-section-3 .u-text-6 {
    margin-top: 6px;
  }

  .u-section-3 .u-group-4 {
    width: 130px;
    min-height: 130px;
    margin-top: -130px;
    margin-left: 516px;
  }

  .u-section-3 .u-text-7 {
    margin-top: 6px;
  }

  .u-section-3 .u-group-5 {
    width: 130px;
    min-height: 130px;
    margin-top: -130px;
    margin-left: 365px;
  }

  .u-section-3 .u-text-8 {
    margin-top: 6px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1330px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 60px;
    width: 540px;
  }

  .u-section-3 .u-text-2 {
    width: 540px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-group-1 {
    min-height: 392px;
    margin-top: 45px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-group-2 {
    width: 150px;
    min-height: 150px;
    margin-top: 27px;
    margin-left: 104px;
  }

  .u-section-3 .u-group-3 {
    width: 150px;
    min-height: 150px;
    margin-top: -149px;
    margin-left: 274px;
  }

  .u-section-3 .u-text-6 {
    margin-top: 0;
  }

  .u-section-3 .u-group-4 {
    width: 150px;
    min-height: 150px;
    margin-top: 38px;
    margin-left: 104px;
  }

  .u-section-3 .u-text-7 {
    margin-top: 0;
  }

  .u-section-3 .u-group-5 {
    width: 150px;
    min-height: 150px;
    margin-top: -149px;
    margin-left: 274px;
  }

  .u-section-3 .u-text-8 {
    margin-top: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1295px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
    width: 340px;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.125rem;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-3 .u-group-1 {
    min-height: 319px;
    margin-top: 47px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-group-2 {
    width: 130px;
    min-height: 130px;
    margin-top: 19px;
    margin-left: 18px;
  }

  .u-section-3 .u-group-3 {
    width: 130px;
    min-height: 130px;
    margin-top: -130px;
    margin-left: 181px;
  }

  .u-section-3 .u-group-4 {
    width: 130px;
    min-height: 130px;
    margin-top: 22px;
    margin-left: 181px;
  }

  .u-section-3 .u-group-5 {
    width: 130px;
    min-height: 130px;
    margin-top: -130px;
    margin-left: 18px;
  }
}

.u-section-3 .u-group-2,
.u-section-3 .u-group-2:before,
.u-section-3 .u-group-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-group-2.u-group-2.u-group-2:hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  border-color: #b5c3f2 !important;
}

.u-section-3 .u-group-2.u-group-2.u-group-2.hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  border-color: #b5c3f2 !important;
}

.u-section-3 .u-container-layout:hover .u-group-2:before {
  background-color: #ffffff !important;
}

.u-section-3 .u-container-layout:hover .u-group-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-group-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-text-5,
.u-section-3 .u-text-5:before,
.u-section-3 .u-text-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-text-5.u-text-5.u-text-5:hover {
  color: #102055 !important;
}

.u-section-3 .u-text-5.u-text-5.u-text-5.hover {
  color: #102055 !important;
}

.u-section-3 .u-container-layout:hover .u-text-5 {
  color: #102055 !important;
}

.u-container-layout.hover .u-section-3 .u-text-5 {
  color: #102055 !important;
}

.u-section-3 .u-group-5,
.u-section-3 .u-group-5:before,
.u-section-3 .u-group-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-group-5.u-group-5.u-group-5:hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  border-color: #b5c3f2 !important;
}

.u-section-3 .u-group-5.u-group-5.u-group-5.hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  border-color: #b5c3f2 !important;
}

.u-section-3 .u-container-layout:hover .u-group-5:before {
  background-color: #ffffff !important;
}

.u-section-3 .u-container-layout:hover .u-group-5 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-group-5 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-text-8,
.u-section-3 .u-text-8:before,
.u-section-3 .u-text-8 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-text-8.u-text-8.u-text-8:hover {
  color: #1f3b91 !important;
}

.u-section-3 .u-text-8.u-text-8.u-text-8.hover {
  color: #1f3b91 !important;
}

.u-section-3 .u-container-layout:hover .u-text-8 {
  color: #1f3b91 !important;
}

.u-container-layout.hover .u-section-3 .u-text-8 {
  color: #1f3b91 !important;
}

.u-section-3 .u-group-4,
.u-section-3 .u-group-4:before,
.u-section-3 .u-group-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-group-4.u-group-4.u-group-4:hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  border-color: #1f3b91 !important;
}

.u-section-3 .u-group-4.u-group-4.u-group-4.hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  border-color: #1f3b91 !important;
}

.u-section-3 .u-container-layout:hover .u-group-4:before {
  background-color: #ffffff !important;
}

.u-section-3 .u-container-layout:hover .u-group-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-group-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-text-7,
.u-section-3 .u-text-7:before,
.u-section-3 .u-text-7 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-text-7.u-text-7.u-text-7:hover {
  color: #1f3b91 !important;
}

.u-section-3 .u-text-7.u-text-7.u-text-7.hover {
  color: #1f3b91 !important;
}

.u-section-3 .u-container-layout:hover .u-text-7 {
  color: #f1c50e !important;
}

.u-container-layout.hover .u-section-3 .u-text-7 {
  color: #f1c50e !important;
}

.u-section-3 .u-group-3,
.u-section-3 .u-group-3:before,
.u-section-3 .u-group-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-group-3.u-group-3.u-group-3:hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  border-color: #1f3b91 !important;
}

.u-section-3 .u-group-3.u-group-3.u-group-3.hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  border-color: #1f3b91 !important;
}

.u-section-3 .u-container-layout:hover .u-group-3:before {
  background-color: #ffffff !important;
}

.u-section-3 .u-container-layout:hover .u-group-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-group-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-text-6,
.u-section-3 .u-text-6:before,
.u-section-3 .u-text-6 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-text-6.u-text-6.u-text-6:hover {
  color: #1f3b91 !important;
}

.u-section-3 .u-text-6.u-text-6.u-text-6.hover {
  color: #1f3b91 !important;
}

.u-section-3 .u-container-layout:hover .u-text-6 {
  color: #1f3b91 !important;
}

.u-container-layout.hover .u-section-3 .u-text-6 {
  color: #1f3b91 !important;
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 1291px;
}

.u-section-4 .u-layout-wrap-1 {
  width: 969px;
  margin: 60px auto;
}

.u-section-4 .u-image-1 {
  background-image: url("//images01.nicepagecdn.com/c461c07a441a5d220e8feb1a/c425a645d2b0553ba2a15905/ghghhg.jpg");
  min-height: 598px;
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 598px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  font-size: 2.25rem;
  margin: 20px 0 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.5rem;
  margin: 20px 20px 0 0;
}

.u-section-4 .u-text-3 {
  line-height: 2;
  margin: 20px 0 0;
}

.u-section-4 .u-text-4 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 78px 20px 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  border-style: solid;
  padding: 0;
}

.u-section-4 .u-social-icons-1 {
  white-space: nowrap;
  height: 24px;
  min-height: 16px;
  width: 92px;
  min-width: 68px;
  margin: 39px auto 0;
}

.u-section-4 .u-icon-1 {
  height: 100%;
}

.u-section-4 .u-icon-2 {
  height: 100%;
}

.u-section-4 .u-icon-3 {
  height: 100%;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 598px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-text-5 {
  margin: 0 auto;
}

.u-section-4 .u-text-6 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.875rem;
  margin: 30px auto 0;
}

.u-section-4 .u-text-7 {
  font-size: 1.125rem;
  letter-spacing: 1px;
  font-weight: 400;
  font-family: Poppins;
  line-height: 1;
  width: 283px;
  margin: 12px auto 0;
}

.u-section-4 .u-text-8 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.875rem;
  margin: 30px auto 0;
}

.u-section-4 .u-text-9 {
  font-size: 1.125rem;
  letter-spacing: 1px;
  font-family: Poppins;
  line-height: 1;
  width: 283px;
  margin: 12px auto 0;
}

.u-section-4 .u-text-10 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.875rem;
  margin: 30px auto 0;
}

.u-section-4 .u-btn-2 {
  border-style: solid;
  font-size: 1.125rem;
  letter-spacing: 1px;
  align-self: center;
  margin: 12px auto 0;
  padding: 0;
}

.u-section-4 .u-text-11 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.875rem;
  margin: 30px auto 0;
}

.u-section-4 .u-btn-3 {
  border-style: solid;
  font-size: 1.125rem;
  letter-spacing: 1px;
  align-self: center;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-4 .u-text-12 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.875rem;
  margin: 40px auto 0;
}

.u-section-4 .u-btn-4 {
  border-style: solid;
  font-size: 1.125rem;
  letter-spacing: 1px;
  margin: 12px auto 0;
  padding: 0;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 598px;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-list-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 16px));
  min-height: 464px;
  grid-gap: 32px;
}

.u-section-4 .u-container-layout-5 {
  padding: 20px;
}

.u-section-4 .u-text-13 {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  margin: 28px 0 0;
}

.u-section-4 .u-text-14 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-4 .u-container-layout-6 {
  padding: 20px;
}

.u-section-4 .u-text-15 {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  margin: 28px 0 0;
}

.u-section-4 .u-text-16 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-4 .u-container-layout-7 {
  padding: 20px;
}

.u-section-4 .u-text-17 {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  margin: 28px 0 0;
}

.u-section-4 .u-text-18 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-4 .u-container-layout-8 {
  padding: 20px;
}

.u-section-4 .u-text-19 {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  margin: 28px 0 0;
}

.u-section-4 .u-text-20 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1256px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-4 .u-image-1 {
    min-height: 580px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 580px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-4 .u-text-2 {
    margin-right: 6px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 580px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 580px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 448px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 640px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-4 .u-image-1 {
    min-height: 444px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 533px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 378px;
    grid-gap: 10px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-text-13 {
    font-size: 0.875rem;
    margin-top: 0;
  }

  .u-section-4 .u-text-14 {
    font-size: 3rem;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-text-15 {
    font-size: 0.875rem;
    margin-top: 0;
  }

  .u-section-4 .u-text-16 {
    font-size: 3rem;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-text-17 {
    font-size: 0.875rem;
    margin-top: 0;
  }

  .u-section-4 .u-text-18 {
    font-size: 3rem;
  }

  .u-section-4 .u-container-layout-8 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-text-19 {
    font-size: 0.875rem;
    margin-top: 0;
  }

  .u-section-4 .u-text-20 {
    font-size: 3rem;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1062px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-4 .u-image-1 {
    min-height: 666px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-layout-cell-3 {
    order: 1;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 100px;
    order: 0;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 815px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-4 .u-image-1 {
    min-height: 419px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.375rem;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 1624px;
}

.u-section-5 .u-text-1 {
  width: 805px;
  margin: 114px auto 0;
}

.u-section-5 .u-gallery-1 {
  height: 1126px;
  grid-gap: 17px;
  margin: 61px auto 0;
}

.u-section-5 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 17px;
}

.u-section-5 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-text-2 {
  width: 542px;
  margin: 30px auto 0;
}

.u-section-5 .u-btn-1 {
  border-style: solid;
  padding: 0;
}

.u-section-5 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.875rem;
  background-image: none;
  margin: 30px auto 60px;
  padding: 20px 55px 21px 54px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1427px;
  }

  .u-section-5 .u-gallery-1 {
    height: 929px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2302px;
  }

  .u-section-5 .u-text-1 {
    width: 720px;
  }

  .u-section-5 .u-gallery-1 {
    height: 1804px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 5435px;
  }

  .u-section-5 .u-text-1 {
    width: 540px;
  }

  .u-section-5 .u-gallery-1 {
    height: 4937px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-5 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 3657px;
  }

  .u-section-5 .u-text-1 {
    width: 340px;
  }

  .u-section-5 .u-gallery-1 {
    height: 3159px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-2 {
    width: 340px;
  }
} .u-section-6 {
  background-image: url("//images01.nicepagecdn.com/c461c07a441a5d220e8feb1a/7902ca7a146c5e9e8fcc6837/jkkjjk6.jpg");
  background-position: 50% 50%;
  min-height: 757px;
}

.u-section-6 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: 0 auto 0 0;
}

.u-section-6 .u-image-1 {
  min-height: 757px;
  background-image: url("//images01.nicepagecdn.com/c461c07a441a5d220e8feb1a/fa7ca7fc3b725d40ba063041/jkjkjk0.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 60px 30px 30px;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 757px;
}

.u-section-6 .u-container-layout-2 {
  padding: 60px 30px;
}

.u-section-6 .u-form-1 {
  width: 509px;
  margin: 0;
}

.u-section-6 .u-text-1 {
  margin-left: 0;
}

.u-section-6 .u-label-1 {
  font-weight: 700;
}

.u-section-6 .u-label-2 {
  font-weight: 700;
}

.u-section-6 .u-form-group-4 {
  margin-left: 0;
}

.u-section-6 .u-label-3 {
  font-weight: 700;
}

.u-section-6 .u-label-4 {
  font-weight: 700;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  width: 100%;
  padding: 17px 0;
}

.u-section-6 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-6 .u-btn-2 {
  padding: 0;
}

@media (max-width: 1199px) {
   .u-section-6 {
    min-height: 491px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-6 .u-image-1 {
    min-height: 624px;
    background-position: 82.64% 50%;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 739px;
  }

  .u-section-6 .u-form-1 {
    height: 573px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-text-2 {
    width: auto;
  }
}

@media (max-width: 991px) {
   .u-section-6 {
    min-height: 736px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-6 .u-image-1 {
    min-height: 869px;
    order: 1;
  }

  .u-section-6 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
    order: 0;
  }

  .u-section-6 .u-container-layout-2 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-6 {
    min-height: 619px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-6 .u-image-1 {
    min-height: 652px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-6 {
    min-height: 378px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-6 .u-image-1 {
    min-height: 411px;
  }
}