
.collapse {
    size-adjust:unset;
}
.container2{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    background-color: #000;
    size-adjust: unset;
    

}

.container{
    color: #00253a;
    size-adjust:unset;
    text-transform: capitalize;
    
}

/* hero background image */
.bgimage {
    height:100vh;
    background: url('images/heroImage.jpg');
    background-size:contain;
    position:relative;
    background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    
}
/* text css above hero image*/
.hero_title {
    font-size: 4.5rem;
    color: rgb(219, 219, 219);
}
.hero_desc {
    font-size: 1rem;
    color: #eeeeee;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    background-color: #2929299c;
}

/* about section image css */
.imageAboutPage {
    width: 80%;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

/* services section css */
.servicesText.card {
    height: 280px;
    cursor: pointer;
  }
.servicesIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
}
.card-title {
    text-align: center;
}
.card:hover .servicesIcon {
    color: #001d52;
}
.servicesText:hover {
    border: 1px solid #272727;
}

.navbar {
background-color: #272727;
color: #eeeeee;
}
/* display background color black on navbar scroll */
.navbarScroll.navbarDark {
    background-color: rgb(255, 255, 255);
}

/* social media icons styling */
.social-icons {
    font-size: 18px;
    cursor: pointer;
    padding: auto;
    position: left;
    padding-bottom: 1%;
}
.fa-facebook:hover,.fa-instagram:hover,.fa-twitter:hover,.fa-linkedin:hover, .fa-twitch:hover {
    color: #1c4cd1;

    color: #000000;
}
/* footer styling */
#footer {
    background-color: #242424;
    text-align: center;
    color: white;
    padding: 1%;
}

/* spacing on all sections */
#about, #services, #portfolio, #contact {
    margin-top: 2 rem;
    padding-top: 4rem;
}
#contact {
    padding-bottom: 4rem;
    background-color: #001d52;
}

.portfolioContent {
    background-color: #001d52;
}

.text-center{
    background-color: #f8f8f83f;
    color: #eeeeee;
}

.text-center1{
    background-color: #00000093;
    color: #eeeeee;
    padding-left: 5%;
}

.imagen{
    background-color: rgb(114, 114, 114);
    size: 1cm;
}

/* Make sure that padding behaves as expected */
* {box-sizing:border-box}

/* Container for skill bars */
.container1 {
  width: 50%; /* Full width */
  background-color: #ddd; /* Grey background */
  
}

.skills {
  text-align: right; /* Right-align text */
  padding-top: 10px; /* Add top padding */
  padding-bottom: 10px; /* Add bottom padding */
  color: white; /* White text color */
  width: auto;
}

.python {width: 70%; background-color: #012458;} /* Blue */
.html {width: 80%; background-color: #01e994;} /* Blue */
.css {width: 80%; background-color: #00098b;} /* Blue */
.js {width: 65%; background-color: #00e1ff;} /* Blue */
.php {width: 60%; background-color: #808080;} /* Dark Grey */

.habilidades {
    position: relative;
}

.cards {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 250px;
    margin: auto;
    text-align: center;
    
    
  }

 
  .titulo{
    padding-top: 10%;
    font-style: normal;
    background-color: #00098b;
  }
  
  .title {
    color: grey;
    padding-top: 1%;
    font-size: 18px;
  }
  
  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 28px;
  }
  
  a {
    text-decoration: none;
    padding: auto;
    font-size: 22px;
    color: black;
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }

  .social1 {
    background-color: #d3d1d1;
    padding-bottom: 4%;
    padding-top: 4%;
    width: 100%;
    
  }

  .imagenperfil {
    padding-top: 5%;
  }